.HeroBanner {
    height: 181px;
    width: inherit;
    background-image: url('../.././assets/img/hero.jpg');
    background-size: cover;
    background-position: -27%;
    background-repeat: no-repeat;
    padding-top: 100px;
}

.HeroBanner h1 {
    font-size: 16px;
    line-height: 37px;
    text-align: center;
    color: #503f3f;
    display: none;
}

.HeroBanner button {
  display: none;
}

.SmallScreenH1 {
  font-size: 16px;
  line-height: 37px;
  text-align: center;
  color: #503f3f;
}

.SmallScreenHeaderBtnBox {
  height: 50px;
  width: inherit;
  text-align: center;
}

.SmallScreenHeaderBtnBox button {
  height: 40px;
  width: 201px;
  border-width: thin;
  border-radius: 20px;
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: lightseagreen;
  cursor: pointer;
  outline: none;
}

.Seperator {
  height: 1px;
  width: inherit;
  background-color: lightgrey;
  margin-top: 11px;
}

@media (min-width: 768px) {
    .HeroBanner {
    height: 423px;
    }
}


@media (min-width: 1024px) {
    .HeroBanner {
        height: 603px;
        padding-top: 51px;
        padding-left: 63px;
        background-position: 14%;
        background-position-y: top;
        background-size: 143%;
    }
    .HeroBanner h1 {
      font-size: 68px;
      width: 561px;
      line-height: 71px;
      text-align: center;
      color: #706363;
      display: block;
    }
    .HeroBanner button {
      display: block;
      height: 49px;
      width: 344px;
      font-weight: bold;
      font-size: 20px;
      border-width: thin;
      border-radius: 20px;
      margin-left: 98px;
      text-align: center;
      color: white;
      background-color: lightseagreen;
      cursor: pointer;
    }
    .HeroBanner button:hover {
      background-color: #1f8983;
    }
    .SmallScreenH1 {
      display: none;
    }
    .SmallScreenHeaderBtnBox button {
        display: none;
    }
    .Seperator {
      display: none;
    }
    .SmallScreenHeaderBtnBox {
      display: none;
    }
}

@media (min-width: 1359px) {
  .HeroBanner {
    padding-left: 180px;
  }
}