.RecordCard {
  display: block;
  height: 461px;
  width: 301px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 9px;
  padding-right: 9px;
  box-shadow: 0px 0px 10px 1px lightgrey;
  padding-top: 7px;
  margin-bottom: 16px;
}

.RecordCardContainer {
    text-decoration: none;
    color: #383838;
}

.RecordCardImage {
    height: 150px;
    width: inherit;
    color: #383838;
}

.MoreBtn {
    margin-left: 8px;
}

.IconHolder {
  height: fit-content;
  margin-left: 62px;
}

.RedFlagIcon {
  height: 23px;
  width: 21px;
  background-image: url('../../../assets/img/red_flag_13.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Details {
  float: right;
}

.DetailsHolder {
  height: fit-content;
  width: 370px;
}

.NameDateDiv{
  margin-left: 10px;
}

.NameDiv {
  font-weight: bold;
}

.DateDiv {
  font-size: 12px;
  width: 138px;
}

.RecordCard .Comment {
    min-height: 107px;
    width: 301px;
    padding: 6px;
    overflow-wrap: break-word;
    margin-left: -5px;
    font-size: 14px;
}

.InfoPanel {
  height: 50px;
  width: fit-content;
  display: flex;
}

.CardFooter {
  display: flex;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}

.CardFooter button {
  background-color: lightseagreen;
  color: white;
  height: inherit;
  outline: none;
  border-width: inherit;
  border-radius: 3px;
  border-color: none;
  cursor: pointer;
}

.StatusHolder {
  width: 200px;
} 
