.ManagerTitleHeader {
  height: 43px;
  width: inherit;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #766b6b;
  margin-top: 25px;
  margin-bottom: 25px;
}

.RecordContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.EmptyRecordContainer {
  height: 100vh;
  width: inherit;
}
