.LargeScreenNav {
    display: none;
}

.LargeScreenNav a{
    padding: 8px;
    padding-top: 15px;
    padding-left: 22px;
    padding-right: 22px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: ghostwhite;
}

@media (min-width: 1024px) {
    .LargeScreenNav  {
        display: flex;
        height: 47px;
        padding-left: 69px;
        background-color: lightseagreen;
    }
    .Seperator {
        height: inherit;
        width: 1px;
        background-color: ghostwhite;
    }
}

@media (min-width: 1359px) {
    .LargeScreenNav {
        display: flex;
        height: 47px;
        padding-left: 187px;
        background-color: lightseagreen;
    }
}
